img {
	margin: auto;
	display: block;

}

.jumbotron{
	background-image: url("https://monkeytrade.files.wordpress.com/2016/06/cropped-cropped-autumn-leaves-falling-background-wallpaper-41.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

.jumbotron .container {
	color: white;
	text-shadow: 2px 2px #ff0000;
}

.context{
	top:40px;
	position: relative;
	padding: 10px;
	margin: 10px;
}

#first{
	margin-top: 20px;
	margin-left: 2px;
	margin-right: 2px;
	border: 1px solid black;

}

#later{
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 1px solid black;

}

.panel-body{
	border:1px solid black;
}